<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>

<div class="container">
    <header th:replace="~{layout :: header}"></header>
    <div th:replace="~{layout :: promo }"></div>
    <div th:replace="~{layout :: filter(${total})}"></div>
    <div class="main">
        <div class="tiles-container">
            <div class="tile" th:each="tile : ${grid}" th:object="${tile}">
                <div class="image-container" th:if="*{imagePath == null}">
                    <img th:src="@{/resources/image/food/no-image.jpg}">
                </div>

                <div class="image-container"  th:if="*{imagePath != null}">
                    <img th:src="@{/resources/image/food/{path}(path=*{imagePath})}" alt="">
                </div>
                <div class="name" th:text="*{name}"></div>
                <div class="description" th:text="*{description}"></div>
                <div class="price" th:text="*{#numbers.formatCurrency(price)}"></div>
                <div class="add-to-cart" th:attr="data-id=*{id}"> Add to Cart <i class="fas fa-shopping-cart"></i></div>
            </div>
        </div>
    </div>
    <footer th:replace="~{layout :: footer}"></footer>
</div>



</body>
<script th:src="@{/resources/js/menu.js}" ></script>
<div class="succeed-container">
    <img th:src="@{/resources/image/centang.png}" alt="">
</div>
</html>