<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>

    <div class="admin-menu-container">
        <header th:replace="~{admin-layout :: admin-header}"></header>
        <main class="content">
            <div class="upsert-container">
                <div class="image-viewer">
                    <img th:src="@{/resources/image/food/no-image.jpg}" alt="/resources/image/food/no-image.jpg">
                </div>

                <div class="food-list">
                    <table>
                        <thead>
                            <th>Food And Beverage List</th>
                        </thead>
                        <tbody>

                            <tr th:each="row: ${grid}" th:object="${row}">
                                <td class="food-list-td"  th:attr="data-id=*{id}">
                                    <span th:text="*{name}"></span>
                                    <a th:href="@{/admin/delete(id=*{id})}">
                                        <i class="fas fa-eraser"></i>
                                    </a>
<!--                                    <div th:if="*{!availability}" class="yellow">-->
<!--                                        <div class="yellow"> negng</div>-->
<!--                                    </div>-->
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <div class="pagination">
                                    <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                                    <div th:if="${totalPages != 0}">
                                        <a th:each="number : ${#numbers.sequence(1,totalPages)}"
                                           th:text="${number}"
                                           th:href="@{/admin/edit(page=${number})}"
                                        ></a>
                                    </div>
                                    <div th:unless="${totalPages != 0}">
                                        Data not found!
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="upsert-form">
                    <div class="create-button">Add New </div>
                    <form class="form-index" method="post" th:action="@{/admin/upsert}" enctype="multipart/form-data" >
                        <table>
                            <input type="hidden" class="id-form" name="id">
                        <tr>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                                <input class="name-form" type="text" name="name" placeholder="Name">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <labe>Category</labe>
                            </td>
                            <td>
                                <select class="category-form" name="category">
                                    <option value="Other">No Category Selected</option>>
                                    <option value="Main">Main</option>
                                    <option value="Beverage">Beverage</option>
                                    <option value="Alacarte">Alacarte</option>
                                    <option value="Other">Others</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Price</label>
                            </td>
                            <td>
                                <input class="price-form" type="number" min="0"  placeholder="Price" name="price">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label> Availability</label>
                            </td>
                            <td>
                                <input class="availability-form" type="checkbox" name="availability" value="true">
                            </td>
                        </tr>

                        <tr>
                            <td  class="textarea-table">
                                <label> Description</label>
                            </td>
                            <td>
                                <textarea class="description-form" placeholder="Description.." name="description"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label> Photo</label>
                            </td>
                            <td>
                                <input class="image-form" type="file" accept="image/jpg" name="image" >
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="save-button" >Save</button>
                            </td>
                        </tr>
                        </table>

                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="~{layout :: footer}"></footer>
    </div>
<script th:src="@{/resources/js/edit-page.js}">
</script>
</html>
