<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>

<div class="register-container">
    <header th:replace="~{admin-layout :: header}"></header>
    <main class="register-main">
      <form method="post" th:action="@{/register/upsert}">
            <table >
                <thead>
                    <th>Register New Admin</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" placeholder="username"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" placeholder="password"></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td><input type="password" name="confirmPassword" placeholder="password" ></td>
                    </tr>
                </tbody>
            </table>
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>
  </div>
</html>