<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<header th:replace="~{layout :: header}"></header>
<body>
    <div class="contact-container">
        <h1>Contact Us</h1>
        <img th:src="@{/resources/image/sushi-contact.jpeg}" alt="/resources/image/no-image.jpg">
        <h3>For general enquiries please email:</h3>
        <p>blissfulbite@gmail.com</p>
        <h3>For order inquiries contact:</h3>
        <p>CP : 08123123123</p>
    </div>
</body>
<footer th:replace="~{layout :: footer}"></footer>
</html>